{% extends "template.html" %}
{% block body %}
    <div class="x-body">
        <div class="layui-row">
            <form class="layui-form layui-col-md12 x-so">
                <input class="layui-input" lay-verify="date" placeholder="开始日" name="start" id="start">
                <div class="layui-inline">
                    <select class="layui-select" name="sort">
                        <option value="0">选择类别</option>
                        <option value="1">资产财务类</option>
                        <option value="2">资产电商类</option>
                        <option value="3">生产GIS类</option>
                        <option value="4">财务生产类</option>
                        <option value="5">营销生产类</option>
                        <option value="6">OMS生产类</option>
                        <option value="7">人资财务类</option>
                        <option value="8">财务培评类</option>
                        <option value="9">人资培评类</option>
                    </select>
                </div>
                <input type="text" name="keyword" placeholder="请输入指标关键字" autocomplete="off" class="layui-input">
                <button class="layui-btn" lay-filter="search" lay-submit><i class="layui-icon">&#xe615;</i>搜索</button>
                <button class="layui-btn" lay-filter="excel" lay-submit><i class="layui-icon">&#xe601;</i>下载</button>
                <a class="layui-btn" id="refresh"><i class="layui-icon">&#x1002;</i>更新</a>
            </form>
        </div>
        <div align="center" style="font-size: 30px">广东电网有限责任公司协同应用工作报告（地市局）</div>
        <div class="layui-tab layui-tab-card" lay-filter="test">
            <ul class="layui-tab-title">
                <li lay-class='layui-this' lay-id='0000'>广东电网</li>
                <li lay-id='0200'>韶关</li>
                <li lay-id='0400'>珠海</li>
                <li lay-id='0500'>汕头</li>
                <li lay-id='0600'>佛山</li>
                <li lay-id='0700'>江门</li>
                <li lay-id='0800'>湛江</li>
                <li lay-id='0900'>茂名</li>
                <li lay-id='1200'>肇庆</li>
                <li lay-id='1300'>惠州</li>
                <li lay-id='1400'>梅州</li>
                <li lay-id='1500'>汕尾</li>
                <li lay-id='1600'>河源</li>
                <li lay-id='1700'>阳江</li>
                <li lay-id='1800'>清远</li>
                <li lay-id='1900'>东莞</li>
                <li lay-id='2000'>中山</li>
                <li lay-id='5100'>潮州</li>
                <li lay-id='5200'>揭阳</li>
                <li lay-id='5300'>云浮</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table"
                           lay-data="{height:'full-282', url:'/cmdb/data/?code=2', limits:[14,30,60,100], limit:14, page:true, id:'mainTable', size:'sm'}"
                           lay-filter="mainTable">
                        <thead>
                        <tr>
                            <th lay-data="{field:'xh', width:80,align:'center',fixed:'left'}" rowspan="2">场景序号</th>
                            <th lay-data="{field:'date',width:100}" rowspan="2">日期</th>
                            <th lay-data="{field:'tjsj',width:150}" rowspan="2">提交时间</th>
                            <th lay-data="{field:'xtcjfl',width:120}" rowspan="2">协同场景分类</th>
                            <th lay-data="{field:'dyxtcj',width:200}" rowspan="2">对应协同场景</th>
                            <th lay-data="{field:'zbx',width:200}" rowspan="2">指标项</th>
                            <th lay-data="{field:'zbz',width:70,align:'center'}" rowspan="2">指标值</th>
                            <th lay-data="{align:'center'}" colspan="5">发起方</th>
                            <th lay-data="{align:'center'}" colspan="5">接收方</th>
                            <th lay-data="{field:'dfbz',width:100,align:'center'}" rowspan="2">得分标准</th>
                            <th lay-data="{field:'mbdf',width:100,align:'center'}" rowspan="2">目标得分</th>
                            <th lay-data="{field:'qtf',width:100}" rowspan="2">牵头方</th>
                            <th lay-data="{field:'sfddbz',width:120,align:'center'}" rowspan="2">是否达到标准</th>
                            <th lay-data="{field:'sfddmb',width:120,align:'center'}" rowspan="2">是否达到目标</th>
                            <th lay-data="{fixed: 'right', field:'df',width:70,align:'center'}" rowspan="2">得分</th>
                            <th lay-data="{fixed: 'right', field:'cgl',width:70,align:'center'}" rowspan="2">成功率</th>
                        </tr>
                        <tr>
                            <th lay-data="{field:'f_xtmc', width:100}">系统名称</th>
                            <th lay-data="{field:'f_sjjk', width:200}">涉及接口</th>
                            <th lay-data="{field:'f_zs', width:85,align:'center',edit:'text'}">总数</th>
                            <th lay-data="{field:'f_cgs', width:85,align:'center',edit:'text'}">成功数</th>
                            <th lay-data="{field:'f_sbs', width:85,align:'center',edit:'text'}">失败数</th>
                            <th lay-data="{field:'j_xtmc', width:100}">系统名称</th>
                            <th lay-data="{field:'j_sjjk', width:200}">涉及接口</th>
                            <th lay-data="{field:'j_zs', width:85,align:'center',edit:'text'}">总数</th>
                            <th lay-data="{field:'j_cgs', width:85,align:'center',edit:'text'}">成功数</th>
                            <th lay-data="{field:'j_sbs', width:85,align:'center',edit:'text'}">失败数</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        layui.use(['form', 'table', 'laydate', 'layer', 'upload', 'element'], function () {
            var form = layui.form,
                laydate = layui.laydate,
                table = layui.table,
                layer = layui.layer,
                upload = layui.upload,
                element = layui.element,
                $ = layui.$;

            //执行一个laydate实例
            laydate.render({
                elem: '#start', //指定元素
                type: 'month'
            });

            //监听Tab切换
            element.on('tab(test)', function () {
                layer.msg(this.getAttribute('lay-id'));
            });

            //监听单元格编辑
            table.on('edit(mainTable)', function (obj) {
                var value = obj.value; //得到修改后的值
                var data = obj.data; //得到所在行所有键值
                var field = obj.field; //得到字段
                var post_url = '/cmdb/update/?code=2&id=' + data.xh; //生成提交地址，加上该表的唯一标识ID字段
                var edit_data = '{"' + field + '":"' + Number(value) + '"}';

                if (isNaN(value)) {
                    layer.msg('请输入数字！');
                    //$("td[data-field='"+obj.field+"']").eq(obj.data.id-1).find("div").html(0);
                    //$("td[data-field='"+obj.field+"']").eq(obj.data.id-1).find("input").val(0);
                    $(".layui-table-edit").val(0); // 把错误的非数字重置为0
                    return false;
                } else {
                    $(".layui-table-edit").val(Number(value)); // 把数字前的0去掉
                    //console.log(data); //data.LAY_TABLE_INDEX
                    if ($(".layui-table-edit").val() == 0) {
                        if (field == 'f_sbs') {
                            $(".laytable-cell-1-f_ycgdxx").eq(data.LAY_TABLE_INDEX + 1).html('<span class="layui-badge layui-bg-blue">无异常</span>');
                        } else {
                            $(".laytable-cell-1-j_ycgdxx").eq(data.LAY_TABLE_INDEX + 1).html('<span class="layui-badge layui-bg-blue">无异常</span>');
                        }
                    } else {
                        if (field == 'f_sbs') {
                            $(".laytable-cell-1-f_ycgdxx").eq(data.LAY_TABLE_INDEX + 1)
                                .html('<button type="button" class="layui-btn layui-btn-mini up_j_file" id="up_j_' +
                                    data.xh + '" lay-data="{url:\'/cmdb/upload/?code=2&send=f&id=' +
                                    data.xh + '\',accept: \'file\',multiple: true,exts:\'xls|xlsx\'}">' +
                                    '<i class="layui-icon">&#xe67c;</i>上传异常清单</button>');
                        } else {
                            $(".laytable-cell-1-j_ycgdxx").eq(data.LAY_TABLE_INDEX + 1)
                                .html('<button type="button" class="layui-btn layui-btn-mini up_j_file" id="up_j_' +
                                    data.xh + '" lay-data="{url:\'/cmdb/upload/?code=2&send=j&id=' +
                                    data.xh + '\',accept: \'file\',multiple: true,exts:\'xls|xlsx\'}">' +
                                    '<i class="layui-icon">&#xe67c;</i>上传异常清单</button>');
                        }
                    }
                    $.ajax({
                        url: post_url,
                        type: 'POST',
                        data: edit_data,
                        success: function () {
                            //layer.msg('修改成功！');
                            //layer.alert(edit_data);
                        }
                    });
                }
            });

            //执行实例
            var uploadInst1 = upload.render({
                elem: '.up_f_file', //绑定元素
                done: function (res) {
                    //上传完毕回调
                    url = res.data.src;
                    layer.alert('<a target="_blank" href="' + url + '">' + url + '</a>');
                    table.reload('mainTable'); //刷新表格
                },
                error: function () {
                    //请求异常回调
                }
            });
            //执行实例
            var uploadInst2 = upload.render({
                elem: '.up_j_file', //绑定元素
                done: function (res) {
                    //上传完毕回调
                    url = res.data.src;
                    layer.alert('<a target="_blank" href="' + url + '">' + url + '</a>');
                    table.reload('mainTable'); //刷新表格
                },
                error: function () {
                    //请求异常回调
                }
            });

            form.on('submit(search)', function (data) {
                table.reload('mainTable', {
                    where: {
                        start: data.field.start,
                        sort: data.field.sort,
                        keyword: data.field.keyword
                    }
                });
                return false;
            });
            form.on('submit(excel)', function (data) {
                $.ajax({
                    url: '/cmdb/excel/?code=2&start=' + data.field.start + '&type=1',
                    success: function (data) {
                        window.location.href = '/cmdb/download/?name=' + data;
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}